<ul>
  <% @tournaments.each do |tournament| %>
    <li><%= link_to tournament.name, tournament_path(tournament) %></li>
  <% end %>
</ul>
<%= button_to "Generate tournament", tournaments_path, method: :post %>
<br/>
<%= button_to "Reset database", reset_database_tournaments_path, method: :post %>
