.won-team {
  color: lightgreen;
}

.generator-buttons {
  .generator-button {
    float: left;
    margin-right: 20px;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.division-tables {
  .division-table {
    float: left;
    margin-right: 20px;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
